<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>AppBook</servlet-name>
    <servlet-class>booking.AppBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppBook</servlet-name>
    <url-pattern>/AppBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDepartureFlight</servlet-name>
    <servlet-class>servlets.GetDepartureFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartureFlight</servlet-name>
    <url-pattern>/GetDepartureFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppCustomer</servlet-name>
    <servlet-class>customer.AppCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppCustomer</servlet-name>
    <url-pattern>/AppCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppPromotion</servlet-name>
    <servlet-class>promotion.AppPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppPromotion</servlet-name>
    <url-pattern>/AppPromotion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUsernamePassword</servlet-name>
    <servlet-class>servlets.GetUsernamePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsernamePassword</servlet-name>
    <url-pattern>/GetUsernamePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNewCustomer</servlet-name>
    <servlet-class>servlets.GetNewCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewCustomer</servlet-name>
    <url-pattern>/GetNewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPassenger</servlet-name>
    <servlet-class>servlets.GetPassenger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPassenger</servlet-name>
    <url-pattern>/GetPassenger</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>servlets.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPromotion</servlet-name>
    <servlet-class>servlets.GetPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPromotion</servlet-name>
    <url-pattern>/GetPromotion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gateway</servlet-name>
    <servlet-class>servlets.Gateway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gateway</servlet-name>
    <url-pattern>/Gateway</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBook</servlet-name>
    <servlet-class>servlets.GetBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBook</servlet-name>
    <url-pattern>/GetBook</url-pattern>
  </servlet-mapping>
</web-app>