<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	
	 <servlet>
        <servlet-name>AppBook</servlet-name>
        <servlet-class>booking.AppBook</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>AppBook</servlet-name>
        <url-pattern>/AppBook</url-pattern>
    </servlet-mapping>
	
</web-app>
